@import 'tailwindcss/components';

@layer components {
  .marker {
    @apply border-2 border-white rounded-full;
  }
  .marker_self {
    @apply
    marker
    !w-4
    !h-4
    bg-[#1764F2]
    shadow-md
    before:content-['']
    before:absolute
    before:w-1
    before:h-1
    before:rounded-full
    before:border-[#1764F2]/50
    before:left-1
    before:top-1
    before:border-2
    before:animate-[ping_1s_infinite];
  }
  .marker_pit {
    @apply marker w-4 h-4 bg-secondary;
  }
  .marker_base {
    @apply marker w-[14px] h-[14px] bg-[#C4C4C4];
  }
  .marker_stop {
    @apply marker !w-4 !h-4 bg-primary shadow-md;
  }
  .maker_stop_pit {
    @apply marker !w-[18px] !h-[18px] bg-secondary shadow-md;
  }
  .marker_absolute {
    @apply
    absolute
    right-0
    before:content-['']
    before:absolute
    before:border-l-[1px]
    before:border-l-[#C4C4C4]
    before:bg-black
    before:left-1/2
    before:h-[60px];
  }

  @keyframes ping {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(12);
    }
  }
}