@import 'tailwindcss/components';
@import '@/style/common/text.css';

@layer components {
  .bus {
    @apply flex flex-col h-[calc(100vh-128px)] relative;
    &_desktop {
      @apply md:max-w-[464px] md:shadow-[8px_5px_10px_rgba(0,0,0,0.15)] md:z-[1];
    }
    &_block {
      @apply bus_desktop bg-white py-5 w-full h-[calc(100%-40px)] md:absolute;
      &_scrollbar {
        @apply overflow-y-auto mt-2;
      }
    }
    &_tab {
      @apply
      py-3
      flex-1
      text-center
      text-sm
      bg-[#E0E0E0]
      rounded-t-md
      transition-all
      duration-300
      cursor-pointer
      hover:text-white;
      span {
        @apply font-bold ml-2;
      }
      &-active {
        @apply text-white;
      }
      &:nth-child(odd) {
        @apply hover:bg-primary;
        &.bus_tab-active {
          @apply bg-primary;
        }
      }
      &:nth-child(even) {
        @apply hover:bg-secondary;
        &.bus_tab-active {
          @apply bg-secondary;
        }
      }
    }
    &_effect {
      @apply cursor-pointer transition-colors hover:bg-gray-300;
    }
    &_item {
      @apply bus_effect w-full px-5 md:px-8;
      &_content {
        @apply flex justify-between items-end py-3 border-b-[1px] border-[#E7E7E7];
      }
    }
    &_detail {
      @apply bus_desktop w-full h-[calc(100%-40px)] absolute top-10 left-0 bg-white flex flex-col;
      &_header {
        @apply flex justify-between px-6 py-3 md:py-5;
      }
      &_back {
        @apply text_hover flex gap-3 items-center;
      }
    }
    &_info {
      @apply bus_effect relative;
      &_content {
        @apply
        flex
        w-full
        mx-6
        py-4
        pr-4
        border-b-[1px]
        border-b-[#E7E7E7]
        relative
        items-center
        gap-4
        text-sm
        justify-between;
      }
      &_status {
        @apply min-w-[77px] px-2 py-1 rounded-xl text-white text-center;
      }
    }
    &_map {
      @apply
      absolute
      top-10
      left-0
      overflow-hidden
      w-full
      h-full
      bg-white
      md:pointer-events-auto
      md:opacity-100
      md:z-0
      md:left-[464px]
      md:w-[calc(100%-464px)];
    }
  }
}